@import url('https://fonts.googleapis.com/css2?family=Bellefair&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');
*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Josefin Sans", sans-serif;
}
body{
  background-color: #bebebe;
  font-size: 12px;
  height: 100vh;
  overflow: hidden;
}
.cotainer{
  height: 100vh;
}

/*                   *HEADER SECTION             */
header{
  background-image: url(./images/bg-mobile-light.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  padding:48px 24px  0px 24px;
}
.nav{
  padding: 0px 0px 40px 0px ;
  justify-content: space-between;
}
.logo{
  color: #fff;
  letter-spacing: .2rem;
  font-size: 20px;
  font-weight: bold;
}
.themIcon{
  width: 20px;
  height: 20px;
  letter-spacing: 2.5px;
}
/*                    *CHECKBOX                  */
#textInput{
  width: 100%;
  height: 48px;
  border-radius: 5px;
  border: none;
  outline: none;
  padding-left: 76px ;
}

.input{
  position: relative;
  padding-bottom: 44px;
}
#checkBox{
  position: absolute;
  left: 20px;
  top: 14px;
  width: 20px;
  height: 20px;
  outline: none;
}
/*                    *CHECKBOX CHECKED STYLE                   */
.tasckCheck{
  width: 20px;
  height: 20px;
  outline: none;
}
 input[type="checkbox"]{
  appearance: none;
  border-radius: 50%;
  border: 1px solid #e3e4f1;
}
 input[type="checkbox"]:checked{
  background-image: linear-gradient(135deg, #5df, #c058f3);
  content: url(./images/icon-check.svg);
  padding: 4.5px;
  transition: 0.5s ease-in;
}
/*                     *CREATED TASK CUSTOMIZE                    */
/*task section */
.todo-tasks{
  margin-top: -24px;
  padding: 0px 24px 0px 24px;
  width: 100%;
  z-index: 1;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.task{
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 5px;
  align-items: center;
  text-align: center;
  border-radius: 5px;
  padding: 16px 20px;
}
.taskProperty {
  letter-spacing: -0.17px;
  text-align: center;
}
.remove-task{
  display: flex;
  align-items: center;
}
.cross-icon{
  width: 12px;
  height: 12px;
}
/* done task customize */
.doneTask{
  text-decoration-line: line-through;
}

/*                      *TASK INFO SECTION                         */
.task-info-section{
  margin-top: 50px;
  position: absolute;
  bottom: 0;
  z-index: 1;
  width: 100%;
  padding: 16px 24px 40px 24px;
}
.taskInfos,
.task-ifno-controll{
  width: 100%;
  border-radius: 5px;
  box-shadow: 0 35px 50px -15px rgba(194, 195, 214, 0.5);
  background-color: #fff;
  color: #9495a5;
}
.taskInfos{
  justify-content: space-between;
  padding: 16px 20px 22px 20px;
}
.task-ifno-controll{
  margin-top : 16px;
  padding: 15px 0px 19px 0px;
  justify-content: space-around;
}
.text-info-active{
  color: #3a7cfd;
}

/* error  */

.error{
  display:none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  align-items: center;
  border-radius: 5px;
  transition: 0.5s ease-in;

}
.error-text{
  padding: 50px;
  text-align: center;
  letter-spacing: 1.2px;
}
.error-cross{
  position: absolute;
  top: 20px;
  right: 20px;
}
/*                      *DARK THEM CLASSES                        */
/* body dark mode */
.dark-mode{
  background-color: #171823;
} 
.textInputLight{
  background-color: #fff;
}
.textInputDark{
  background-color: #25273d;
  color: #c8cbe7;
  box-shadow: none;
}
/*    taskdiv styles */
.taskDivLight{
  display: flex;
  background-color: #fff;
  color: #494c6b;
  border: 1px solid #e3e4f1;
}
.taskDivDark{
  display: flex;
  background-color: #25273d;
  color: #c8cbe7;
  border: 1px solid #393a4b;
}
/*    checbox styles */
.checkboxLight input[type="checkbox"]{
  border: 1px solid #e3e4f1;
}
.checkboxDark input[type="checkbox"]{
  border: 1px solid #393a4b;
}
.errorLight{
  background-color: #fff;
  color: #9495a5;
  border: 1px solid black;
}
.errorDark{
  background-color: #25273d;
  border: none;
  color: #c8cbe7;
  font-size: 12px;
}

/*                   *SHORTCUT COMMANDS                              */
.displayFlexRow{
  display: flex;
  flex-direction: row;
  align-items: center;
}
.displayNone{
  display: none;
  transition: 1s ease-in;
}
.transition{
  transition: 0.5s ease-in-out;
}

