@import url('https://fonts.googleapis.com/css2?family=Bellefair&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');



*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Josefin Sans", sans-serif;
}
body{
  background-color: #fafafa;
  font-size: 12px;
}

.displayRowGap{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.cotainer{
  height: 100vh;
}
header{
  background-image: url(./images/bg-mobile-light.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  padding:48px 24px  0px 24px;
}
.nav{
  padding: 0px 0px 40px 0px ;
}
.logo{
  color: #fff;
  letter-spacing: .2rem;
  font-size: 20px;
  font-weight: bold;
}
.moon-icon{
  width: 20px;
  height: 20px;
  letter-spacing: 2.5px;
}
.input{
  position: relative;
  padding-bottom: 44px;
}
#textInput{
  width: 100%;
  height: 48px;
  border-radius: 5px;
  box-shadow: 0 35px 50px -15px rgba(194, 195, 214, 0.5);
  background-color: #fff;
  border: none;
  outline: none;
  padding-left: 76px ;
}

.input input[type="checkbox"] {
  position: absolute;
  left: 20px;
  top: 14px;
}
/* checkbox settin for every checkbox */

 input[type="checkbox"]{
  appearance: none;
  -webkit-appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%; 
  border: 1px solid #ccc; 
}

 input[type="checkbox"]:checked {
  background-image: linear-gradient(135deg, #5df, #c058f3);
  border: none;

}

 input[type="checkbox"]:checked::after {
  content: url('./images/icon-check.svg'); 
  position: absolute;
  top: 4.5px;
  left: 4.5px;
  
}

/* task section */
.todo-tasks{
  /* position: absolute; */
  margin-top: -24px;
  padding: 0px 24px 0px 24px;
  /* z-index: 1; */
  width: 100%;
}
.task,
.taskInfos{
  width: 100%;
  border-radius: 5px;
  background-color: #fff;
  border: 1px solid rgba(194, 195, 214, 0.5);
  /* positions */
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  /* paddings */
  padding: 16px 20px;
  
}
/* TASK CHECKBOX */
.checkBoxDiv{
  position: relative;
}
.checkBoxDiv input[type="checkbox"] {
  position: absolute;
  top: -10px;
  left: 0px;
}
.taskProperty{
  color: #494c6b;
  letter-spacing: -0.17px;
}
.remove-task{
  display: flex;
  align-items: center;
}
.cross-icon{
  width: 12px;
  height: 12px;
}

/* task infoo sectiom */
.clear-completed,
.taskInfos{
  color: #9495a5;
}
.clear-completed{
  border: none;
  background-color: #fff;
  outline: none;
}

/* done task customize */
.doneTask{
  text-decoration-line: line-through;
}

.displayNone{
  display: none;
}